/**
 * La Plata JS stylesheet
 */
@import 'nib'

/** Fonts **/

@import url(http://fonts.googleapis.com/css?family=Source\+Sans\+Pro)
@import url(http://fonts.googleapis.com/css?family=Open\+Sans:300\+\|Rosario)

@font-face
    font-family: 'typicon'
    src:url('../vendor/typicons/src/font/typicon.eot')
    src:url('../vendor/typicons/src/font/typicon.eot?#iefix') format('embedded-opentype'),
        url('../vendor/typicons/src/font/typicon.woff') format('woff'),
        url('../vendor/typicons/src/font/typicon.ttf') format('truetype'),
        url('../vendor/typicons/src/font/typicon.svg#typicon') format('svg')
    font-weight: normal
    font-style: normal

/** General Reset Rules **/

*
  margin: 0
  padding: 0

*, *:before, *:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

html
  height: 100%
  top: 0
  left: 0
  right: 0
  bottom: 0

body
  font-size: 100%
  font-family: 'Rosario', sans-serif
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow-y: auto
  overflow-x: hidden
  padding: 0
  margin: 0
  color: rgb(255, 255, 255)
  width: 100%
  height: 100%
  background-color: rgb(99, 96, 103)

a
  text-decoration:none

/** Desktop First **/


/** Display **/

.sideimage
  position: relative
  width: 100%
  height: 100%


h1
  font-family: 'Open Sans', sans-serif
  font-size: 7em
  vertical-align: middle


.item
  display: table
  width: 100%
  height: 100px
  padding: 2px
  border: 1px solid transparent
  border-radius: 10px
  opacity: 0.5
  margin-bottom: 5px
  text-align: center
  background-color: white

.item a
  width: 100%
  height: 100%
  z-index: 2
  display: block

.item:hover, .item:focus
  opacity: 0.9

.nf > *
  color: rgb(255, 0, 255)

.tw > *
  color: rgb(0, 172, 237)
  //margin-left: 0

.fb > *
  color: rgb(59, 89, 152)
  //margin-left: 20%

.gg > *
  color: rgb(221, 75, 57)
  //margin-left: 40%

.fn > *
  color: rgb(217, 135, 25)
  //margin-left: 60%

.sponsors > *
  color: rgb(34, 139, 34)

.item h2
  font-size: 2em
  font-weight: bold

.item span
  font-size: 42px


/** Positioning **/



.sidearea:before
  content: ''
  display: block
  background: url('https://farm6.staticflickr.com/5269/5691089545_490036810d_b.jpg') no-repeat 0 0 fixed
  background-size: cover
  width: 100%
  height: 100%
  -webkit-filter: blur(10px)
  -moz-filter: blur(10px)
  -o-filter: blur(10px)
  -ms-filter: blur(10px)
  filter: blur(10px)
  //margin: 20px
  //z-index: 2

.sidearea
  position: relative
  //position: fixed
  //left: 0
  //right: 0
  display: inline-block
  width: 90%
  height: 100%
  min-height: 100%
  z-index: 1
  text-align: right

.sidearea .logo
  position: absolute
  top: 20%
  right: 1%
  background-size: 200px 200px
  background-repeat: no-repeat
  height: 200px
  z-index: 2

.sidearea small
  display: block
  width: 200px
  height: 30%
  text-align: left
  z-index: 2
  font-weight: bold

.title
  position: relative
  display: inline-block
  z-index: 2
  width: 8%
  height: 100%
  text-align: left

#wrappertitle
  position: absolute
  top: 23%
  left: 8%

#wrappertitle h1
  color: #f3df49
  font-family: 'Source Sans Pro', sans-serif
  font-weight: bold
  line-height: 0

#wrappertitle h2
  color: white
  font-family: 'Source Sans Pro', sans-serif
  font-weight: bold

nav
  position: absolute
  top: 20%
  left: 3%
  width: 30%
  z-index: 2

footer
  position: absolute
  display: block
  bottom: 3%
  z-index: 2
  right: 0
  text-align: right


footer span
  color: #f3df49
  font-size: 42px

.ref
  position: absolute
  text-align: left
  left: 3%
  bottom: 3%
  font-size: 12px
  font-style: italic
  color: white
  z-index: 2

/** Overwrite some rules for small devices **/

@media all and (max-height:800px)
  nav
    top:1%

@media all and (min-width: 681px) and (max-width: 1344px)
  .sidearea
    width: 83%

  .title
    width: 14%

  nav
    width: 42.5%


@media only screen and (min-device-width : 768px) and (max-device-width : 1280px) and (orientation : landscape)
  nav
    top:6%

  .item
    position: relative
    height: 70px


  .item span
    position: absolute
    width: 14%
    left: 0
    top: 50%
    transform: translateY(-50%)

  .item p
    position: absolute
    width: 86%
    left: 14%
    top: 50%
    transform: translateY(-50%)

@media all and (max-width: 680px)
  body
    height: 960px
    overflow-y: auto
    font-size: 90%

  .sidearea
    height: 960px
    width: 100%
    margin: 0

  .sidearea:before
    left: 10px

  .sideimage
    background-position-x: 0

  .title
    width: 0%

  .title h1
    top: 6%
    left: -150px

  .title h2
    top: 18%
    left: -150px

  .sidearea .logo
    top: 3%
    left: 0
    margin: 0 auto
    text-align: center

  .logo small
    height: 2.5em
    left: 0
    right: 0
    text-align: center
    margin: 0 auto

  nav
    top: 30%
    left: 0
    right: 0
    width: 100%

  .item
    display: block
    font-size: 1em
    height: 85px
    padding: 0

  .nf, .tw, .fb, .gg, .fn, .sponsors
    margin-left: 0

  footer
    position: absolute
    left: 0
    right: 0
    height: 10%
    margin-bottom: 0
    text-align: center
    font-size: 14px

  .sidearea small
    text-align: center

  .ref
    width: 100%
    text-align: center
    font-size: 10px

@media all and (max-width : 568px)
    body
      overflow-y: auto
      font-size: 80%

    .title h1, .title h2
      display: none
      visibility: hidden

    .sidearea .logo
      display: block
      left: 0
      margin: 0 auto
      text-align: center