<footer>
  <ul class="wrapper">
    <li class="first">
      <a href="/"><span class="logo"> {{ site.name }}</span></a>
    </li>
    <li class="icon- twitter">
      <a href="http://twitter.com/{{site.twitter_username}}" target="_blank" title="Twitter">
        &#xea93;
      </a>
    </li>
    <li class="icon- facebook">
      <a href="https://www.facebook.com/groups/{{site.facebook_group}}" target="_blank" title="Facebook">
        &#xea8e;
      </a>
    </li>
    <li class="icon- g-plus">
      <a href="https://plus.google.com/u/0/{{site.gplus}}" target="_blank" title="G+">  
        &#xea8a;
      </a>
    </li>
    <li class="icon- github">
      <a href="http://github.com/{{site.github_username}}" target="_blank" title="Github">  
        &#xeab1;
      </a>
    </li>
  </ul>

  <div class="wrapper">
    <div class="message">Comunidad establecida en Mayo 2014</div>
    <div class="message">Hecho con <span class="icon-">&#xe9da;</span> en La Plata, Bs As. Argentina</div>
  </div>    

</footer>    