<nav>
  <div class="wrapper">
    <ul class="first">
      <li class=" {% if page.url == '/index.html' %} current {%endif%}">
        <a href="/"><span class="logo"> </span>
        <span class="site-name">{{ site.name }}</span>
        </a>
      </li>
    </ul>
    <ul class="sections">
      <li class="{% if page.url contains  '/meetups' %} current {%endif%}">
        <a href="/meetups">Meetups <span class="badge">{{ site.categories.meetups.size }}</span></a>
      </li>
      <li class="{% if page.url contains  '/blog' %} current {%endif%}">
        <a href="/blog">Blog <span class="badge">{{ site.categories.blog.size }}</span></a>
      </li>
      <li class="{% if page.url contains  '/interview' %} current {%endif%}">
        <a href="/blog">Entrevistas <span class="badge">{{ site.categories.interview.size }}</span></a>
      </li>
      <li class="{% if page.url contains  '/coc' %} current {%endif%}">
        <a href="/coc">CoC</a>
      </li>
      <li>
        <a href="mailto:{{site.email}}">Contacto</a>
      </li>
    </ul>
  </div>
</nav>
