
<nav>
  <div class="wrapper">
    <span class="first {% if page.url == '/index.html' %} current {%endif%}">
      <a href="/"><span class="logo"> </span>
      <span>{{ site.name }}</span>
      </a>
    </span>
    <ul class="">
      <li class="{% if page.url contains  '/meetups' %} current {%endif%}">
        <a href="/meetups">Meetups <span class="badge">{{ site.categories.meetups.size }}</span></a>
      </li>
      <li class="{% if page.url contains  '/blog' %} current {%endif%}">
        <a href="/blog">Noticias</a>
      </li>
      <li class="{% if page.url contains  '/blog' %} current {%endif%}">
        <a href="/blog">Participa</a>
      </li>
      <li class="{% if page.url contains  '/blog' %} current {%endif%}">
        <a href="/blog">Sponsors</a>
      </li>
      <li class="{% if page.url contains  '/staff' %} current {%endif%}">
        <a href="/staff">Staff</a>
      </li>
    </ul>
  </div>
</nav>
