/* FOOTER */

footer {
  color: #fff;
  background-color: #232323;
  border-bottom: 1px solid #f1f1f1;
  min-height: 200px;
  box-sizing: border-box;
}

footer a,
footer a:hover,
footer a:visited {
  color: #fff;
  text-decoration: none;
  line-height: 30px;
}

footer ul {
  // height: auto;
  // display: inline-block;
  padding: 10px 0;
  margin: 0;
}

footer li {
  // float: left;
  display: inline-block;
  list-style: none;
  font-size: 16px;
  padding-bottom: 5px;
  padding-right: 20px;
  text-transform: uppercase;
  vertical-align: middle;
}

footer li:last-child {
  padding-right: 0;
}

// footer > div {
//   padding: 15px;
//   text-align: center;
//   margin: 0;
//   margin-left: auto;
//   margin-right: auto;
// }

// @include tablet {
//   footer > div {
//     width: 49%;
//     box-sizing: border-box;
//     display: inline-block;
//   }

//   footer > div:first-child{
//     padding-left: 0;
//     text-transform: none;
//     text-align: left;
//     padding: 15px;
//   }

//   footer > div:last-child {
//     text-align: right;
//     padding-left: 15px;
//   }
// }

// @include desktop {
//   footer > div {
//     width: 49%;
//     box-sizing: border-box;
//     display: inline-block;
//   }

//   footer > div:first-child {
//     padding-left: 0;
//     text-transform: none;
//     text-align: left;
//     padding: 15px;
//   }

//   footer > div:last-child {
//     text-align: right;
//     padding-left: 15px;
//   }
// }



footer .logo {

  background: url("../images/logo.png") no-repeat scroll 0px 0px / 30px auto transparent;
  padding-left: 32px;
  display: inline-block;
  height: 30px;
}

footer .social {
  padding-top:20px;
}

footer .icon- {
  font-size: 24px;
  color: $js-color;
}

footer .message {
  font-weight: 300;
  font-size: 14px;
  .icon- {
    font-size: 14px;
  }
}

