---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "icon",
        "base",
        "navigation",
        "footer"
;

/**
 * Main
 */

.header {
    height: 420px;
    padding-top: 50px;
    background: url("/resources/images/lpjs-2.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;

    h1 {
        font-size: 65px; font-weight: 600;
        text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    }
    h2 {
        font-size: 20px; font-weight: 300; letter-spacing: 17px;
        text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    }
    h1, h2 {
        margin: 0; line-height: 1; color: #fff;
    }

    .logo {
        font-size: 100px;
        text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
        color: #fff;        
    }
    
    .header-main {
        text-align: center;
    }

    .header-main > div {
        display: inline-block;
    }

    .site-comunidad {
        color: #FFF;
        text-align: center;
        font-size: 42px;
        text-shadow: 0px 1px 8px rgba(0, 0, 0, 1);
        font-weight: 300;
        padding: 30px;

        strong {
            font-weight: 800;
        }
    }

}

article.wide {
    min-height: 300px;
    padding-top: 50px;

    &.comunidad {
        padding-top: 0;
        h1 {
            font-size: 48px;
            text-align: center;
            font-weight: 300;
        }
        strong {
            font-weight: 600;
        }

    }
}

section {
    .title {
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;

        p {
            display: inline-block;
            padding: 10px 30px;
            border-bottom: 1px solid black;
        }

        strong {
            font-weight: 600;
        }
    }
    .content {
        margin: 80px 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

