---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "icon",
        "base",
        "navigation",
        "footer"
;

/**
 * Main
 */

.header {
    padding-top: 50px;
    background: url("/resources/images/lpjs-2.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;

    h1 {
        font-size: 65px;
        font-weight: 600;
        text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
        @include mobile {
            font-size: 42px;
        }
    }
    h2 {
        font-size: 20px; font-weight: 300; letter-spacing: 17px;
        text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
        @include mobile {
            font-size: 12px;
        }

    }
    h1, h2 {
        margin: 0; line-height: 1; color: #fff;
    }

    .logo {
        font-size: 120px;
        text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
        color: #fff;
        @include mobile {
            font-size: 70px;
        }
    }

    .header-main {
        text-align: center;
        margin: 40px;
    }

    .header-main > div {
        display: inline-block;
    }

    .site-comunidad {
        color: #FFF;
        text-align: center;
        font-size: 40px;
        // text-shadow: 0px 1px 8px rgba(0, 0, 0, 1);
        font-weight: 300;
        padding: 30px 30px 75px;

        @include mobile {
            font-size: 20px;
            padding: 30px;
        }

        strong {
            font-weight: 800;
        }
    }

}

article.wide {
    min-height: 300px;
    padding: 100px 0;

    &.comunidad {
        padding-top: 0;
        h1 {
            font-size: 48px;
            text-align: center;
            font-weight: 300;
        }
        strong {
            font-weight: 600;
        }
    }
}

article.announcement {
  padding: 100px 0 0 0;

  h3 {
      text-align: center;
      font-style: italic;
      color: $grey-color;
  }

  .date, .where {
      font-weight: 300;
      font-size: 18px;
      text-align: center;
      display: inline;
      height: 30px;
      span {
        font-weight: 600;
      }
  }

  .content {
      margin: 40px 0px;
      text-align: center;
  }
  .talk-title {
    font-size: 38px;
    @include mobile {
        font-size: 24px;
    }
    text-align: center;
  }

  .speakers {
    text-align: center;
  }

  .signup {
    text-align: center;
    a, 
    a:hover, 
    a:visited {
      background: $brand-color;
      color: white;
      margin: 40px;
      padding: 20px 100px;
      font-weight: bold;
      font-size: 1.2em;
    }
  }
}

article.cols {
    section {
        @include desktop {
            display: inline-block;
            // 2 cols
            max-width: -webkit-calc(#{$desktop-width} / 2 - (#{$spacing-unit} * 2));
            max-width:         calc(#{$desktop-width} / 2 - (#{$spacing-unit} * 2));
        }
    }
}

section {
    text-align: justify;
    vertical-align: top;
    .title {
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 300;

        p {
            display: inline-block;
            padding: 10px 30px;
            border-bottom: 1px solid black;
        }

        strong {
            font-weight: 600;
        }
    }
    .content {
        margin: 40px 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
