---
# Only the meetups Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "icon",
        "base",
        "navigation",
        "footer"
;


.header {
    background-color: #f1f1f1;
    min-height: 250px;
    padding-top: 50px;
    text-align: center;
    @include mobile {
        min-height: 150px;
    }

    .logo {
        font-size: 120px;
        color: black;
        display: inline-block;
        vertical-align: top;

        @include mobile {
            font-size: 90px;

        }

    }

    h1 {
        font-size: 92px;
        font-weight: 300;
        display: inline-block;
        @include mobile {
            font-size: 60px;
        }
    }
}

article.wide {
    min-height: 250px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;

}

.meetup {
    &.wrapper {
        text-align: left;
    }

    .index {
        font-size: 40px;
        color: #f60;
        @include mobile {
            font-size: 30px;
        }
    }
    .title {
        font-size: 38px;
        @include mobile {
            font-size: 24px;
        }

    }
    .date {
        font-weight: 300;
    }
    .location {
        font-weight: 600;
    }
    .speakers {
        display: inline;
    }
    .repo {
        display: inline;
        a,
        a:hover,
        a:visited {
          color: #999;
          text-decoration: none;
        }
    }

}

.talk {
    padding-left: 50px;
    .title {
        font-size: 32px;
        @include mobile {
            font-size: 24px;
        }
    }
    .speakers {
        font-weight: 300;
        text-transform: uppercase;
    }
}

