---
# Only the meetups Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "icon",
        "base",
        "navigation",
        "footer"
;


.header {
    background-color: #f1f1f1;
    min-height: 250px;
    padding-top: 50px;
    text-align: center;

    .logo {
        font-size: 190px;
        text-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
        color: black;

        @include tablet {
            display: inline-block;
        }

        @include desktop {
            display: inline-block;
        }

    }

    h1 {
        font-size: 92px;
        font-weight: 300;
    }

    @include tablet {
        text-align: left;
    }

    @include desktop {
        text-align: left;
    }
}

article.wide {
    min-height: 250px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.meetup {
    .index {
        font-size: 40px;
        color: #f60;
    }
    .title {
        font-size: 38px;
    }
    .date {
        font-weight: 300;
    }
    .location {
        font-weight: 600;
    }
    .speakers {
        display: inline;
    }
    .repo {
        display: inline;
        a,
        a:hover,
        a:visited {
          color: #999;
          text-decoration: none;
        }
    }

}

.talk {
    padding-left: 50px;
    .title {
        font-size: 32px;
    }
    .speakers {
        font-weight: 300;
        text-transform: uppercase;
    }
}

