<!DOCTYPE html>
<html>

  {% include head.html section="main" %}

  <body>

    <main role="main" class="page-content main">
      {% include navigation.html %}

      <article class="header">
        <section class="wrapper">
          {{ content }}
        </section>
      </article>
      <article class="wide cols">
        <div class="wrapper"> 
        <!-- {% cycle 'odd', 'even' %}  -->
        {% for post in site.categories.main reversed %}
          <section class="{{ post.cls }}">
            {% if post.showTitle != false %}
            <div class="title">
                {{ post.title | markdownify }}
            </div>
            {% endif %}
            <div class="content">
            {{post.content}}
            </div>
          </section>
        
        {% endfor %}
        </div>
      </article>
    </main>
    {% include footer.html %}
  </body>

</html>
