<!DOCTYPE html>
<html>

{% include head.html section="blog" %}

<body>

  <main role="main" class="page-content blog">
    {% include navigation.html %}

    <article class="header">
      <section class="wrapper">
        <h1>
          {{ page.title | markdownify }}
        </h1>
        <div>{% if page.author %}</div>
        <div><img src="https://avatars.githubusercontent.com/{{page.author.github}}" height="40px" /></div>
        <div>{{ page.author.name }}</div>
        {% endif %}
        </p>        
      </section>
    </article>
  <article class="wide">    
      <section class="wrapper blog">
          <div class="date">{{ page.date | date: "%B %-d %Y" }}</div>
          {{ content }}
      </section>    
  </main>
  {% include footer.html %}
</body>

</html>